<!-- Page Title -->
<div class="section section-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Submit Pipeline</h1>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="basic-login">
                <form id="form4" name="form4" class="wufoo topLabel page" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate
      action="https://algorun.wufoo.com/forms/r55enle19wj8pq/#public">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-5" style="text-align: left;">First</div>
                        <div class="col-md-5" style="text-align: left;">Last</div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label class="control-label">Name <span style="color: #FF0000">*</span></label></div>
                        <div class="col-md-5">
                            <input id="Field1" name="Field1" type="text" class="field text fn form-control" value="" size="20" tabindex="1"       required />
                        </div>
                        <div class="col-md-5">
                            <input id="Field2" name="Field2" type="text" class="field text ln form-control" value="" size="20" tabindex="2" required />
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-2"><label class="control-label">Email <span style="color: #FF0000">*</span></label></div>
                        <div class="col-md-10">
                            <input id="Field3" name="Field3" type="email" spellcheck="false" class="field text medium form-control" value="" maxlength="255" tabindex="3"       required />
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <label class="control-label">Pipeline JSON <span style="color: #FF0000">*</span></label>
                            <br><small>Find more information on exporting pipelines to JSON in the <a href="/documentation">Documentation</a> tab</small><br>
                            <textarea id="Field4" name="Field4" class="field textarea medium form-control" spellcheck="true" rows="10" cols="50" tabindex="4" onkeyup=""></textarea>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <label class="control-label">Pipeline Description <span style="color: #FF0000">*</span></label>
                            <br><small>What does this pipeline represent? Give your audience more details. It also helps users find your pipeline when they search. </small><br>
                            <textarea id="Field5" name="Field5" class="field textarea medium form-control" spellcheck="true" rows="10" cols="50" tabindex="5" onkeyup=""></textarea>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <label class="control-label">How did you find your experience with AlgoPiper? </label>
                            <textarea id="Field6" name="Field6" class="field textarea medium form-control" spellcheck="true" rows="10" cols="50" tabindex="6" onkeyup=""></textarea>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <input id="saveForm" name="saveForm" class="btn pull-right" type="submit" value="Submit"/>
                        </div>
                    </div>
                    <ul>
                        <li class="hide">
                            <label for="comment">Do Not Fill This Out</label>
                            <textarea name="comment" id="comment" rows="1" cols="1"></textarea>
                            <input type="hidden" id="idstamp" name="idstamp" value="shY1pMyUL4akIzbrANWBbSpmNksOOaaF24aBnGoTRWY=" />
                        </li>
                    </ul>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>