<link rel="stylesheet" href="css/jquery.countdown.css">
<div class="row" style="width: 90%; margin-left: 5%; marign-right: 5%;">
    <div class="col-md-12 col-sm-12 algopiper-section" id="try" style="height: 80vh;">
        <div class="blog-post blog-single-post">
            <h4 style="line-height: 150%;">This version of AlgoPiper is trial. When you hit <b>deploy</b> below, you will be redirected to an isloated AlgoPiper environment for your work. The environment -along with the pipelines- will be deleted permanently from our servers after <b>24 hours</b>.<br> <span style="color: red;">Make sure to export your pipelines and save them to a file on your local machine.</span> </h4>
        </div>
        <a class="btn" style="text-decoration:none;font-weight:bold; width: 100%" id="deploy-btn">DEPLOY!</a>
        <br><br>
        <div id="defaultCountdown"></div>
    </div>
</div>

<!-- Javascripts -->
<script src="js/jquery.plugin.js"></script>
<script src="js/jquery.countdown.js"></script>
<script src="js/algopiper.js"></script>